body{
    background: url("../img/trama.jpg") no-repeat top center;
    background-size: cover;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.page-divider{
    background: #fff;
    height: 2px;
    margin: 1.3rem 6rem;
}

.gmail_content{
    display: inline;
    vertical-align: middle;
}

.header_logo{
    padding: 1.5rem 0 1rem 6rem;
    padding-right: .8rem;
}

.header_title{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.primary-section{
    padding: .5rem 0 1rem 6rem;
}

.search-container{
    padding-bottom: 2.5rem;
}

.search-field{
    padding: .3rem;
    width: 13%;
}

.search-submit{
    width: 2.5rem;
    padding: .3rem;
    border-radius: .4rem;
}

.search-title-wrapper{
    color: #fff;
    font-size: 2.5rem;
}

.search-title-highlight{
    border: 1px solid transparente;
    background-color: orange;
    border-radius: 50%;
    padding: 1rem;
    margin: 0 .3rem;
}

.card-section{
    border: 2px solid #000;
    width: 90%;
    background-color: rgb(198, 195, 195);
    margin-left: 6rem;
    padding: .7rem 0;
}

.item-description{
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: 800;
}

.text-highlight{
    color: gray;
}

.card-highlight{
    background-color: #fff;
}

.footer-container{
    text-align: center;
    color: #fff;
}

.footer_content{
    font-size: 1.5rem;
    font-weight: bold;
}

.footer_text_xs{
    font-size: 1rem;
}

